<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>HIPPIE ARTESANATOS
          </h6>
          <p>
            Lugar onde você encontra a magia e encanto em forma de produtos artesanais.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            TIRE SUAS DÚVIDAS
          </h6>
          <p>
            <a href="#!" class="text-reset">Formas de Pagamentos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Entregas e Prazos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Trocas e Devoluções</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Tabela de Medidas</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            MINHA CONTA
          </h6>
          <p>
            <a  href="#!" class="text-reset"> Minha Conta</a>
          </p>
          <p>
            <a href="#!" class="text-reset"> Histórico de Pedidos
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">ATENDIMENTO</h6>
          <p><i class="fas fa-phone me-3"></i> (14) 99813-3238</p>
          <p><i class="fas fa-print me-3"></i>Central de Atendimento</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color:blanchedalmond;">
    ©2021 Copyright:
    <a class="text-reset fw-bold">HIPPIE ARTESANATOS - CNPJ: 21.390.267/0001-02</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->