<img class="imageminicio"
  src="https://hippieartesanatos.fbitsstatic.net/img/b/136d727e-d10e-4bbe-a90e-45541c59b6dd.jpg">
<p> </p>
<p> </p>
<div class='row'>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/anel-artesanal-quartzo-verde-duplo-122859/336140-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Anel Artesanal Quartzo</h2>
        <p class="card-text">
          R$ 60,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/par-de-brincos-ametista-cascalho-119384/327465.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Par de Brincos Ametista</h2>
        <p class="card-text">
          R$ 45,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/331018/anel-alianca-te-amo-patodavida-escolha-a-numeracao-15-120908/331018.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Aliança PatoDaVida</h2>
        <p class="card-text">
          R$ 50,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/ecobag-free-spirit-117406/324425-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Ecobag Free Spirit</h2>
        <p class="card-text">
          R$ 35,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/pulseira-witch-116411/323195-2.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Pulseira Witch</h2>
        <p class="card-text">
          R$ 45,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/par-brincos-argola-media-lua-e-cogumelo-115567/321745-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Brincos Gnomos</h2>
        <p class="card-text">
          R$ 29,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/par-de-brincos-ambar-baltico-122851/336126-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Par de Brincos Âmbar</h2>
        <p class="card-text">
          R$ 40,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/par-de-brincos-com-asas-de-fada-ametista-115604/321793-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Brinco Fada Ametista</h2>
        <p class="card-text">
          R$ 70,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
<p>
</p>
<nav aria-label="Navegação de página exemplo">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Próximo</a>
    </li>
  </ul>
</nav>