<img class="imageminicio"
  src="https://hippieartesanatos.fbitsstatic.net/img/b/280eeadd-eafd-42a3-b294-4d1dbcacdb72.jpg">
<p> </p>
<p> </p>
<div class='row'>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/325043/kimono-free-spirit-117932/325043.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Kimono Free Spirit</h2>
        <p class="card-text">
          R$ 120,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/338726/camiseta-paciencia-caramelo-frente-e-verso-123713/338726.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Camiseta Paciência</h2>
        <p class="card-text">
          R$ 80,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/337329/short-veludo-cotele-preto-123327/337329.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Short Veludo Cotelê</h2>
        <p class="card-text">
          R$ 39,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/calca-jeans-wild-leg-120013/328771-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Calça Jeans Wild</h2>
        <p class="card-text">
          R$ 150,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/343295/cropped-alca-cogumelos-124439/343295-2.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Croped Alucinação</h2>
        <p class="card-text">
          R$ 60,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/blusa-moletom-capybara-verde-menta-123086/336744-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Moleton Cap</h2>
        <p class="card-text">
          R$ 69,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/342767/cropped-comfy-gaia-branco-124318/342767.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Croped Mãe Terra</h2>
        <p class="card-text">
          R$ 80,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/cropped-comfy-kiss-preto-124306/342720-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Croped KissCat</h2>
        <p class="card-text">
          R$ 70,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
<p>
</p>
<nav aria-label="Navegação de página exemplo">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Próximo</a>
    </li>
  </ul>
</nav>
