<img class="imageminicio"
  src="https://hippieartesanatos.fbitsstatic.net/img/b/4e78ebbb-81a0-445b-9c90-3d12ba1a6794.jpg">
<p> </p>
<p> </p>
<div class='row'>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/336502/pano-liberdade-122975/336502.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Panô Liberdade</h2>
        <p class="card-text">
          R$ 55,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/335660/vela-canela-amor-e-prosperidade-122752/335660.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Vela Canela</h2>
        <p class="card-text">
          R$ 15,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/bowl-lua-de-selenita-121842/332844-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Bowl Lua</h2>
        <p class="card-text">
          R$ 299,90</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/kit-chakras-7-cristais-122612/335429-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Kit Chakras 7 cristais</h2>
        <p class="card-text">
          R$ 30,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/324255/mobile-cortina-fases-da-lua-117310/324255.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Móbile Fases da Lua</h2>
        <p class="card-text">
          R$ 60,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/vela-energetica-protecao-117909/325004-1.jpg?w=290&h=392&v=no-change&qs=ignore"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Vela Boa Sorte</h2>
        <p class="card-text">
          R$ 69,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/327014/caneca-sapos-bruxos-119096/327014-2.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Caneca Sapos</h2>
        <p class="card-text">
          R$ 80,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
  <div class='col-3'>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="https://hippieartesanatos.fbitsstatic.net/img/p/332701/tapete-uma-bruxa-mora-aqui-121729/332701.jpg?w=740&h=1000"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-title">Tapete Wicca</h2>
        <p class="card-text">
          R$ 70,00</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
<p>
</p>
<nav aria-label="Navegação de página exemplo">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Próximo</a>
    </li>
  </ul>
</nav>