<nav class="navtop">
  <p class="navtext">FRETE GRÁTIS Á PARTIR DE R$149,99</p>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="https://recursos.hippieartesanatos.com/i/logo.png" class="imagemtec">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-2">

        <li class="nav-item-inicio">
          <a class="nav-link" aria-current="page" routerLinkActive="active"[routerLink]="['inicio']">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['vestu']">Vestuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['casadec']">Casa e Decoração</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['acessorios']">Acessórios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['contato']">Contato</a>
        </li>
        <li class="nav-item-info">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['info']">Informações</a>
        </li>
        <li class="nav-item-lo">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['login']"><i class="bi bi-person-square"></i></a>
        </li>
        <li class="nav-item-ca">
          <a class="nav-link" href="carinho"><i class="bi bi-cart-fill"></i></a>
        </li>
      </ul> 
      <form class="d-flex" role="search">
        <input class="form-control me-2" placeholder="Busque aqui..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>