<img class="imageminicio"
    src="https://hippieartesanatos.fbitsstatic.net/img/b/ff4602be-d809-45f3-83a4-805f602e906a.jpg">
<p> </p>
<p> </p>

<div class='row'>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://i.pinimg.com/750x/f7/90/10/f79010a4802a5928055cbbbe8230de41.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Camiseta Cherry Bombs</h2>
                <p class="card-text">
                    R$ 59,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/338270/camiseta-taylor-swift-the-eras-tour-colorido-preta-123649/338270.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Camiseta Taylor Swift</h2>
                <p class="card-text">
                    R$ 120,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/338263/camiseta-taylor-swift-getaway-car-off-white-123648/338263.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Camiseta Getaway Car</h2>
                <p class="card-text">
                    R$ 67,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/338277/camiseta-taylor-swift-the-eras-tour-colorido-off-white-123650/338277.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Camiseta Taylor Swift
                </h2>
                <p class="card-text">
                    R$ 59,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/343807/caneca-ansiosos-e-cafeinados-124600/343807.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Caneca Cafeínados</h2>
                <p class="card-text">
                    R$ 39,90</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/344064/pulseira-olho-grego-124672/344064.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Pulseira Olho Grego</h2>
                <p class="card-text">
                    R$ 19,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/caneca-te-amo-patodavida-123597/337918-1.jpg?w=290&h=392&v=no-change&qs=ignore"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Caneca PatoDa Vida</h2>
                <p class="card-text">
                    R$ 39,90</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/343932/pano-observar-sem-julgar-124620/343932.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Pano Alucinação</h2>
                <p class="card-text">
                    R$ 80,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/brinco-de-pressao-artesanal-estrela-ear-cuff-124594/343801-1.jpg?w=290&h=392&v=202308091536&qs=ignore-e-cafeinados-124600/343807.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Brinco Estrela</h2>
                <p class="card-text">
                    R$ 25,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/343786/camiseta-colapsei-off-white-frente-e-verso-124586/343786.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Camiseta Fire Car</h2>
                <p class="card-text">
                    R$ 69,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/344073/par-de-pulseiras-kabbalah-preta-124679/344073.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Pulseira Maria</h2>
                <p class="card-text">
                    R$ 20,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://hippieartesanatos.fbitsstatic.net/img/p/343766/colares-de-capivara-com-hematita-imantada-124572/343766.jpg?w=740&h=1000"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h2 class="card-title">Colares de Capivara</h2>
                <p class="card-text">
                    R$ 70,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>
<p> 
</p>
<nav aria-label="Navegação de página exemplo">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Próximo</a>
        </li>
    </ul>
</nav>
<div class="vibes">
    <h1><img src="https://recursos.hippieartesanatos.com/i/icon-star.svg">
        Navegue por vibes
        <img src="https://recursos.hippieartesanatos.com/i/icon-star.svg">
    </h1>
</div>