.imageminicio {
    height: 40%;
    width:100%;
}

.btn{

 color: white;
 background-color: #6aa8de;
 border-color: #6aa8de;

}

.card-text{

    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 232);
}

.vibes{

    position: relative;
     left: 500px; top: 60px;

}